#nav {
}

#btn_mobile {
  display: none;
}

#active {
}

#hamburguer {
}

.header {
  display: flex;
  padding: 0rem 0rem;
  width: 100%;
  position: fixed;
  z-index: 9999;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  z-index: 1234567890;
  transition: all 1s;
  flex-direction: column;
}

.interno {
  width: 100%;
  max-width: 90rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  width: 100%;
  height: 7rem;
  max-width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  width: 100%;
  max-width: 10rem;
}

.menu {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 7rem;
  width: 100%;
  max-width: 40rem;
}

.navbar {
  width: 100%;
}

.navbar li {
  display: flex;
  position: relative;
  bottom: 0rem;
  font-family: Barlow;
  font-weight: 500;
  font-size: medium;
  padding: 1.5rem 0rem 1.5rem 0rem; 
  cursor: pointer;
  transition: 0.5s ease-in;
  border-bottom: 7px solid transparent;
}

.navbar .li:hover {
  border-bottom: 7px solid #ff4800;
  transition: 0.5s ease-in;
  color: #ff4800;
}

.contato {
  width: 13rem;
  padding: 0.8rem 1rem;
  background-color: #ff4800;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  border: 0;
  transition: 0.5s ease-in;
  cursor: pointer;
} 

.contato:hover {
  background-color: #b33300;
  transition: 0.5s ease-in;
} 

.submenu {
  width: 30rem;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.submenuContent {
  display: flex;
  justify-content: space-between;
}

.submenuInterno {
  width: 100%;
  max-width: 25rem;
  padding: 2rem 2rem 2rem 6rem;
}

.submenuInterno a {
  display: block;
  margin-bottom: 2rem;
  margin-top: 2rem;
  color: #1e1e1e;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: 3rem;
  border-bottom: 2px solid #1e1e1e;
}


.botaoReposicao {
  display: inline-block;
  background-color: #ff4800;
  color: white;
  padding: 1rem 2rem;
  margin-top: 3rem;
  font-weight: bold;
  width: 100%;
  max-width: 15rem;
}

#btn-mobile {
  display: none;
  position: absolute;
}

#menuheader {
  background-color: #000000;
}

#menuheader.menu-alternative {
  transition: all 1s;
  background-color: #000000c4;
}

#menuheader.navbar li:hover {
  transition: all 1s;
}

.botao {
  display: flex;
}

/* @media Menu Mobile*/
@media only screen and (max-width: 926px) {
  
.logo {
  width: 6rem;
  height: 3rem;
}


.contato {
  display: none;
} 
#botao {
  display: none;
}

  .interno {
    width: 100%;
    max-width: 35rem;
    justify-content: space-between;
    padding: 0.5rem 0rem;
  }

  .menu {
    color: #fffefed7;
    display: block;
    position: absolute;
    width: 100%;
    top: 65px;
    right: 0px;
    background: #3d3d3d;
    transition: 0.6s;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }

  #nav.active {
    height: calc(100vh - 65px);
    visibility: visible;
    overflow-y: auto;
  }


  #btn_mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }

  #hamburguer {
    color: #fff;
    border-top: 2px solid;
    width: 20px;
    z-index: 123456789;
  }

  #hamburguer::after,
  #hamburguer::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    margin-top: 5px;
    color: #fff;
    transition: 0.3s;
    position: relative;
    background: #fff;
  }

  #nav.active #hamburguer {
    border-top-color: transparent;
  }

  #nav.active #hamburguer::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .social_media {
    display: none;
  }

  .logo {
    height: 3rem;
    margin-left: 2rem;
  }

  .navbar {
    margin-top: 0rem;
  }

  .navbar li {
    margin-top: 0rem;
    margin-left: 3rem;
    line-height: 0.4rem;
    border-bottom: 0.5rem transparent solid;
  }



}
