.background {
  background-color: #ffffff;
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1e1e1e;
  flex-direction: column;
}

.backgroundimg {
  /*
  background-image: url(/static/images/BioCenter-banner-principal.png);*/
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: row;
  color: #ffffff;
  height: 50vh;
  background-color: #101153;
}

.backgroundimg span{
  font-size: 28px;
  letter-spacing: 8px;
  font-weight: 200;
  color: #df0000;
}

.backgroundMovidos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-image: url(/static/images/Movidos.jpg);
  z-index: 123;
}


.backgroundHistoria {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-image: url(/static/images/historia.png);
  z-index: 123;
}

.banquemsomos {
  
  background-image: url(/static/images/BioCenter-banner-principal.png);
  background-position: center;
  background-size: cover;

  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  width: 100%;
  max-width: 80rem;
  border-radius: 1rem;
  margin-top: -10rem;
}

.interno {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80rem;
}

.interno3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 70%;
  background-position: center;
  background-size: cover;
  background-image: url(/static/images/thumb-video.jpg);
  border-radius: 1rem;
  z-index: 12345678;
  padding: 10rem;
}


.titulo {
  color: #002c5e;
  margin-bottom: 3rem;
}

.titulo2 {
  color: #002c5e;
  margin-bottom: 1rem;
}
.paragrafo {
  color: #3D3D3D;
  font-size: 16px;
  width: 100%;
}

.paragrafo2 {
  color: #3D3D3D;
  font-size: 16px;
  width: 100%;
}

.paragrafo2 h2{
  margin-top: 1rem;
  font-size: 56px;
}

.paragrafo2 h4{
  font-size: 18px;
  margin: 0.3rem 0rem 1rem 0rem;
  font-weight: 600;
}

.paragrafo2 h3 {
  font-size: 16px;
  font-weight: 400;
  border-left: 3px solid #002c5e;
  padding: 0.3rem 0rem 0.3rem 1rem;
}

.botaonsa {
  position:absolute;
  margin-top: 2rem;
  background-color: transparent;
  color: #002c5e;
  padding: 0.75rem 3rem;
  text-decoration: none;
  border-radius: 8px;
  border: 1px solid #002c5e;
  transition: 1s ease;
  cursor: pointer;
}

.botaonsa:hover {
  background-color: #002c5e;
  color: #ffffff;
  border: 1px solid #002c5e;
  transition: 1s ease;
}


.titulo3 {
  color: #ffffff;
}

.quemsomos {
  width: 100%;
  max-width: 35rem;
  margin-left: 5rem;
}

.parceiros {
  width: 100%;
  max-width: 40rem;
}

.box {
  width: 100%;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.box2 {
  width: 100%;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.box3 {
  width: 100%;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-image: url(/static/images/footer.png);
  z-index: 123;
}

.botaofooter {
  background-color: #df0000;
  color: #fff;
  padding: 0.75rem 3rem;
  text-decoration: none;
  border-radius: 8px;
  transition: background 0.3s ease;
}

.botaofooter:hover {
  background-color: #101153;
}
